<div class="portlet box green-haze">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>Scroller
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th ng-repeat="column in columns track by $index" ng-bind="::column.displayName"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entity in data track by $index">
                    <td ng-repeat="column in columns track by $index" grid-cell></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div style="padding-top: 8px;" ng-bind-template="Showing {{((pager.currentPage - 1) * pager.pageSize) + 1}} to {{pager.currentPage * pager.pageSize}} of {{pager.totalItems}} entries"></div>
            </div>
            <div class="col-md-7 col-sm-12" pagination></div>
        </div>
    </div>
</div>