<div style="float: right;margin: 0;">
    <ul class="pagination" ng-if="pager">
        <li class="previous" ng-class="{disabled : noPrevious()}">
            <a href="" ng-click="noPrevious() ? angular.noop : selectPage(pager.currentPage - 1)">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
        <li ng-repeat="num in totalPages" ng-class="{active : num == pager.currentPage}">
            <a href="" ng-click="selectPage(num)" ng-bind="num"></a>
        </li>
        <li class="next" ng-class="{disabled : noNext()}">
            <a href="" ng-click="noNext() ? angular.noop : selectPage(pager.currentPage + 1)">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>