<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="">
                <img src="assets/themes/metro/layout/img/logo.png" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler hide"></div>
        </div>
        <!-- END LOGO -->

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i><span class="badge badge-default">25</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <p>25条新通知</p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller">
                                <li>
                                    <a href="">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span>
                                        2 个用户IP被锁定. <span class="time">5 分钟前 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-bullhorn"></i>
                                            </span>
                                        系统磁盘空间不足. <span class="time">55 分钟前 </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="">查看所有通知<i class="m-icon-swapright"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->

                <!-- BEGIN INBOX DROPDOWN -->
                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-envelope-open"></i><span class="badge badge-default">16</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <p>16条新消息</p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller">
                                <li>
                                    <a href="inbox.html?a=view">
                                        <span class="photo"><img src="assets/themes/metro/layout/img/avatar1.jpg" alt=""/></span>
                                            <span class="subject">
                                                <span class="from">Bob Nilson</span>
                                                <span class="time">1小时前</span>
                                            </span>
                                        <span class="message">快来斗地主啊!</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="">查看所有消息<i class="m-icon-swapright"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END INBOX DROPDOWN -->

                <!-- BEGIN Task DROPDOWN -->
                <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-calendar"></i><span class="badge badge-default">3</span>
                    </a>
                    <ul class="dropdown-menu extended tasks">
                        <li>
                            <p>3个执行中的任务</p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller">
                                <li>
                                    <a href="">
                                            <span class="task">
                                                <span class="desc">服务器重启</span>
                                                <span class="percent">85%</span>
                                            </span>
                                            <span class="progress progress-striped">
                                                <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">85% 完成</span>
                                                </span>
                                            </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="">查看所有任务<i class="m-icon-swapright"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END Task DROPDOWN -->

                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle hide1" src="assets/themes/metro/layout/img/avatar3_small.jpg"/>
                        <span class="username username-hide-on-mobile">小王子</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">
                                <i class="icon-user"></i>个人中心</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-calendar"></i>我的日程表</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-envelope-open"></i>我的收信箱<span class="badge badge-danger">16</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-rocket"></i>我的任务<span class="badge badge-success">3</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">
                                <i class="icon-lock"></i>锁屏</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-key"></i>退出</a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->

                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="javascript:;" class="dropdown-toggle">
                        <i class="icon-logout"></i>
                    </a>
                </li>
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>