<div>
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
            <span class="btn green fileinput-button addFilesButton">
                <i class="fa fa-plus"></i><span> 添加文件</span>
                <input style="display: none;" type="file" name="files" multiple>
            </span>
            <button type="submit" class="btn blue start startUploadFilesButton" ng-show="files && files.length">
                <i class="fa fa-upload"></i><span> 开始上传</span>
            </button>
            <button type="reset" class="btn warning cancel cancelUploadFilesButton" ng-show="files && files.length">
                <i class="fa fa-ban-circle"></i><span> 取消上传</span>
            </button>
        </div>
        <div class="col-lg-5 fileupload-progress fade">
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:80%;"></div>
            </div>
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <table ng-if="files && files.length" role="presentation" class="table table-striped clearfix">
        <tbody class="files">
            <tr class="template-upload fade in" ng-repeat="file in files">
                <td><span class="preview"></span></td>
                <td><p class="name" ng-bind="file.name"></p></td>
                <td>
                    <p class="size" ng-bind="file.size"></p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                </td>
                <td>
                    <button class="btn blue start" ng-click="upload(file, $index)">
                        <i class="fa fa-upload"></i><span>开始</span>
                    </button>
                    <button class="btn red cancel" ng-click="cancel(file, $index)">
                        <i class="fa fa-ban"></i><span>取消</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>